.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: auto;
}



.mainTab {
    border: none;
    width: 50%;
    margin: auto;

}























